@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');

:root {
	--background-calculator-color: rgb(243, 236, 236);

    --main-light-mode: #f6da73;
    --buttons-light-mode: #ffe482;
    --display-light-mode: #feffe1;
    --shadow-light-mode: #6c6c6c;
    --text-light-mode: #292929;

    --main-dark-mode: #1f2122;
    --buttons-dark-mode: #6d6d6d;
    --display-dark-mode: #3c3d3e;
    --shadow-dark-mode: #101010;
    --text-dark-mode: #e9e9e9;

	--border-radius-main: 1.2rem;
	/* --border-radius-display: 1rem; */
	--formula-color: rgb(142, 142, 142);

    --main-calculator-color: #7bc3d4;
    --secondary-calculator-color: #d49c90;
    --dark-calculator-color: #2b374d;
    
    
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.wrapper-calculator {
    display: flex;
    min-height: 100vh;
    margin: auto;
    font-family: 'Orbitron', sans-serif;
    align-items: center;
    justify-content: center;
    background: var(--background-calculator-color);
}
.calculator {
	width: 300px;
    padding: 0.9rem;
	overflow: hidden;
    box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.35);
    border-radius: var(--border-radius-main);
}

#dark {
	background-color: var(--main-dark-mode);
}
#light {
	background-color: var(--main-light-mode);
}

.top-section{
	display: grid;
    gap: 5%;
    grid-template-columns: 15% 60% 15%;
    align-items: center;
    justify-items: center;
	height: 5rem;
}
/* unite  with the same */
#dark .top-section {
	color: var(--text-dark-mode);
}
#light .top-section {
	color: var(--text-light-mode);
}



/* ===== DISPLAY ===== */

.display {
	display: grid;
    align-items: end;
    height: 4.8rem;
    padding: 0.5rem 1rem;
    text-align: right;
    color: var(--light-calculator-color);
	overflow: hidden;
	border-radius: 0.8rem;
}

#dark .display {
	background-color: var(--display-dark-mode);
}
#light .display {
	background-color: var(--display-light-mode);
}
.formula {
    color: var(--formula-color);
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    overflow: hidden;
}
.results{
	font-size: 2rem;
    font-weight: 400;
    overflow: hidden;
}
/* unite  with the same */
#dark .results {
	color: var(--text-dark-mode);
}
#light .results {
	color: var(--text-light-mode);
}

/* ===== BUTTON PAD ===== */
.buttons-pad-calculator{
	padding: 2rem 0;
}
.button-grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}
.grid-row-span-2{
    grid-row: span 2;
    height: 7.5rem !important;
}

.buttons-pad-calculator button {
    height: 3.5rem;
    width: 3.5rem;
    font-size: 1.2rem;
    border-radius: 4rem;
    cursor: pointer;
}


#light .buttons-pad-calculator button {
    background-color: var(--buttons-light-mode);
    border: 3px solid #f5d86d;
    box-shadow: 3px 4px 4px rgb(0 0 0 / 40%);
}
#light .buttons-pad-calculator button:hover {
    /* opacity: 0.7; */
    background-color: #f7e08e;
    transition: 0.2s;
}
#light .buttons-pad-calculator button:active {
    box-shadow: none;
}

#dark .buttons-pad-calculator button {
    background-color: var(--buttons-dark-mode);
    border: 3px solid #837f7f;
    box-shadow: 3px 1px 2px 2px rgb(139 139 139 / 40%);
}
#dark .buttons-pad-calculator button:hover {
    /* opacity: 0.7; */
    background-color: #767676;
    transition: 0.2s;
}
#dark .buttons-pad-calculator button:active {
    box-shadow: none;
}


